<br />
<h2>Frequently Asked Questions</h2>
<br />
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">

            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-title">
                <h4>What is a Stock Screener?</h4>
            </a>

        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>  A stock screener is a tool that investors can use to sort and filter stocks based on a set of different user-defined criterias.</p>
                <p>The Value Screener provides several screeners, all based on value investing criterias, allowing the user to find cheap companies with good fundamentals.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-title">
                <h4>Where does the data come from?</h4>
            </a>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Market data comes from the IEX API, for which you can find the description <a href="https://iextrading.com/developer/docs/#getting-started">here</a>.</p>
                <p>Companies financial reports are provided by the <a href="http://developer.edgar-online.com/docs">SEC's Edgar API</a>.</p>
                <p>Other financials indicators are calculated in-house by the Value Screener.</p>
            </div>
        </div>
    </div>
</div>

<br />
<br />

