@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h2 class="text-center">Welcome to The Value Screener!</h2>
</div>


<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <a asp-controller="Stocks" asp-action="Index" title="Look for a given stock and consult its value indicators!" style="text-decoration: none;" >
            <h2 class="text-center">Pick a Stock</h2>
            <br />
            <img src="images/target.png" class="img-responsive" />
            <br />
          
        </a>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <a asp-controller="Home" asp-action="ScreenerList" title="Choose among many screeners to find stocks matching your criterias" style="text-decoration: none;">
            <h2 class="text-center">Pick a Screener</h2>
            <br />
            <img src="images/configuration-lg.png" class="img-responsive" />
            <br />
          
        </a>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <a asp-controller="Screener" asp-action="ScreenGeneric" title="Build your own screener by specifying your criterias!" style="text-decoration: none;">
            <h2 class="text-center">Create a Screener</h2>
            <br />
            <img src="images/gears.png" class="img-responsive" />
            <br />
          
        </a>
    </div>


</div>
