
<br/>

<br/>
<form asp-controller="RefreshData" asp-action="RefreshMarketData" method="Post" >
    <div class="form-group">
        <input type="submit" value="Refresh Market Data" class="btn btn-primary" />
    </div>  
</form>
<form asp-controller="RefreshData" asp-action="DeleteMarketData" method="Post">
    <div class="form-group">
        <input type="submit" value="Delete Market Data" class="btn btn-primary" />
    </div>
</form>